<% layout('/layouts/boilerplate') %>
    <style>
        body {
            background-image: url("https://res.cloudinary.com/dfxbpcwoq/image/upload/v1717828767/versevista/wv838ejqar3oml4pypah.jpg");
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.7);
        }
    </style>
    <h1 class="text-center">Welcome to WellnessWave</h1>
    <div class="">
        <p>Welcome to WellnessWave, your online hub for sharing and exploring holistic health. We're excited to have you join us on this journey of wellness, inspiration, and personal growth.</p>
        <p>A platform for fitness enthusiasts to document their journeys, share workouts, and motivate each other.A supportive community for sharing stories, resources, and advice on mental health.A blog for sharing healthy recipes, nutrition tips, and dietary advice. </p>
        <h5>Things you can do ont this platform:</h5>
        <ul>
            <li>You can read blogs from other users on various topics related to health and wellness.</li>
            <li>After logging in, you can add your thoughts to blog posts by leaving comments.</li>
            <li>You can also express your opinion by liking or disliking other users' posts.</li>
            <li>If you're the author of a blog post, you have the ability to edit your own content.</li>
            <li>You can view your profile on this platform to see your contributions and activity.</li>
        </ul>
        <h5>Our platform prioritizes safety and privacy, ensuring a secure environment for your journey to a healthier lifestyle.</h5>
    </div>